.file-upload {
    margin: 5rem auto;
    padding: 3rem 5rem;
    text-align: center;
    width: 50%;
    background-color: #caf0f8;
    border-color: #0077b6;
    border-radius: 0.75rem;
    box-shadow: 0.25rem 0.5rem 0.75rem #0077b6;
}

.file-upload label {
    padding: 0.4rem 0.75rem;
    background-color: #00b4d8;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.file-upload label span {
    display: inline-block;
}

.file-upload .filename {
    padding: 0 0.5rem;
}

.healthy {
    margin-top: 1rem;
    padding: 1rem 3rem;
}

.patient {
    margin-bottom: 1rem;
    padding: 1rem 3rem;
}

.upload-status {
    text-align: center;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay p {
    position: fixed;
    top: 60%;
    color: #FFFFFF;
}
