.baloot-btn {
    background: transparent;
    border: none;
    border-radius: 0.75rem;
    outline: none;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
}

.baloot-btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #90e0ef;
}

.sm {
    width: 5.5rem;
    font-weight: 400;
    font-size: 1.25rem;
}
.md {
    width: 8rem;
    font-weight: 500;
    font-size: 1.35rem;
}
.lg {
    width: 30rem;
    font-weight: 600;
    font-size: 1.45rem;
}

.submit {
    background: #0077b6;
    color: #caf0f8;
}
.submit:hover {
    background: #00b4d8;
    color: #caf0f8;
}

.loading {
    background: #00b4d8;
    color: #caf0f8;
}

.danger {
    color: #FFFFFF;
    background: #C82525;
}
.danger:hover {
    background: #ffb9b9;
    color: #C82525;
}
.danger:focus {
    box-shadow: 0 0 0 0.2rem #FFFFFF;
}


