/* Hex Codes: #03045e // #0077b6 // #00b4d8 // #90e0ef // #caf0f8 */
.App {
  text-align: center;
}

.App-header {
  background-color: #00b4d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
